.div-container {
  padding: 6em;
  background: url(../../public/images/background-blur-blurred.jpg) no-repeat;
  background-position: center;
  background-size: cover !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
}

.contract-container {
  padding: 2em;
  background-color: white;
  box-shadow: 0px 2px 9px 2px rgba(105, 105, 105, 0.801);
  border-radius: 10px;
}

.my-container {
  padding-top: 1em;
  padding-left: 5em;
  padding-right: 5em;
}

.total-price {
  margin-left: 10%;
}

.my-border {
  border: 1px solid black;
}

.color-red {
  color: red;
}

.dateStart::-webkit-clear-button {
  display: none;
}

h3 {
  margin-top: 10px !important;
}

.mystamp {
  width: 18%;
  height: 18%;
  margin-top: 2em;
  transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

Rater .stars{
  font-size: -webkit-xxx-large !important;
}

.my-container{
  padding-top: 0px !important;
}

.react-rater-star.is-active {
  color: rgb(255, 187, 0) !important;
}

.react-rater-star.will-be-active {
  color: rgb(255, 187, 0) !important;
}

.form-control#formcontract{
  background-color: rgba(248, 182, 178, 0.349) !important;
}