.div {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(156, 7, 7);
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  margin-top: 1%;
  position: relative;
}

/* Standard syntax */
@keyframes example {
  /* from {background-color: rgb(255, 74, 74);}
  to {background-color: rgba(109, 109, 109, 0.137);} */
  0% {
    background-color: rgb(7, 0, 0);
    top: 0px;
  }
  20% {
    background-color: rgb(214, 0, 0);
    top: 15px;
  }
  40% {
    background-color: rgb(214, 0, 0);
    top: 25px;
  }
  60% {
    background-color: rgb(214, 0, 0);
    top: 15px;
  }
  80% {
    background-color: rgb(146, 4, 4);
    top: 5px;
  }
  100% {
    background-color: rgb(0, 0, 0);
    top: 0px;
  }
}

.div2 {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(156, 7, 7);
  animation-name: example2;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  margin-top: 1%;
  position: relative;
}

/* Standard syntax */
@keyframes example2 {
  /* from {background-color: rgb(255, 74, 74);}
  to {background-color: rgba(109, 109, 109, 0.137);} */
  0% {
    background-color: rgb(214, 0, 0);
    top: 15px;
  }
  20% {
    background-color: rgb(214, 0, 0);
    top: 25px;
  }
  40% {
    background-color: rgb(214, 0, 0);
    top: 15px;
  }
  60% {
    background-color: rgb(146, 4, 4);
    top: 5px;
  }
  80% {
    background-color: rgb(0, 0, 0);
    top: 0px;
  }
  100% {
    background-color: rgb(146, 4, 4);
    top: 5px;
  }
}

.div3 {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(156, 7, 7);
  animation-name: example3;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  margin-top: 1%;
  position: relative;
}

/* Standard syntax */
@keyframes example3 {
  /* from {background-color: rgb(255, 74, 74);}
  to {background-color: rgba(109, 109, 109, 0.137);} */
  0% {
    background-color: rgb(214, 0, 0);
    top: 25px;
  }
  20% {
    background-color: rgb(214, 0, 0);
    top: 15px;
  }
  40% {
    background-color: rgb(146, 4, 4);
    top: 5px;
  }
  60% {
    background-color: rgb(0, 0, 0);
    top: 0px;
  }
  80% {
    background-color: rgb(146, 4, 4);
    top: 5px;
  }
  100% {
    background-color: rgb(214, 0, 0);
    top: 15px;
  }
}

.div4 {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(156, 7, 7);
  animation-name: example4;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  margin-top: 1%;
  position: relative;
}

/* Standard syntax */
@keyframes example4 {
  /* from {background-color: rgb(255, 74, 74);}
  to {background-color: rgba(109, 109, 109, 0.137);} */
  0% {
    background-color: rgb(214, 0, 0);
    top: 15px;
  }
  20% {
    background-color: rgb(146, 4, 4);
    top: 5px;
  }
  40% {
    background-color: rgb(0, 0, 0);
    top: 0px;
  }
  60% {
    background-color: rgb(146, 4, 4);
    top: 5px;
  }
  80% {
    background-color: rgb(214, 0, 0);
    top: 15px;
  }
  100% {
    background-color: rgb(214, 0, 0);
    top: 25px;
  }
}

.div5 {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(156, 7, 7);
  animation-name: example5;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  margin-top: 1%;
  position: relative;
}

/* Standard syntax */
@keyframes example5 {
  /* from {background-color: rgb(255, 74, 74);}
  to {background-color: rgba(109, 109, 109, 0.137);} */
  0% {
    background-color: rgb(146, 4, 4);
    top: 5px;
  }
  20% {
    background-color: rgb(0, 0, 0);
    top: 0px;
  }
  40% {
    background-color: rgb(146, 4, 4);
    top: 5px;
  }
  60% {
    background-color: rgb(214, 0, 0);
    top: 15px;
  }
  80% {
    background-color: rgb(214, 0, 0);
    top: 25px;
  }
  100% {
    background-color: rgb(214, 0, 0);
    top: 15px;
  }
}

.divcontainer {
  border: 1px solid rgb(221, 221, 221);
}

.divWrap {
  border: 1px solid rgba(221, 221, 221, 0.233);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
  height: 100%;
}