.adminSignUp .radio label,
.adminSignUp .checkbox label {
	min-height: 20px;
	margin-bottom: 0;
	font-weight: normal;
	cursor: pointer;
	font-size: 15px;
	color: #fff;
}

.adminSignUp .w3-agile_mail_grids h3,
.adminSignUp .w3-agile_mail_grids h2 {
	font-size: 1.7em;
	color: #ffffff;
	margin-bottom: 0.8em;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 1px 1px 2px #000000;
}

.adminSignUp .w3-agile_mail_grids h3,
.adminSignUp .w3-agile_mail_grids h2 {
	font-size: 1.4em;
	letter-spacing: 1.5px;
}

.adminSignUp .w3-agile_mail_grids h3,
.adminSignUp .w3-agile_mail_grids h2 {
	font-size: 1.3em;
}

.adminSignUp .w3-agile_mail_grids h3,
.adminSignUp .w3-agile_mail_grids h2 {
	line-height: 28px;
}

.adminSignUp .w3-agile_mail_grids h3,
.adminSignUp .w3-agile_mail_grids h2 {
	line-height: 28px;
}

.adminSignUp h3.w3layouts-heading {
	font-size: 3em;
	font-weight: lighter;
	letter-spacing: 1px;
	text-transform: capitalize;
	padding-top: 2rem;
	background: 4px 2px;
	background-size: 34px;
	text-align: center;
}
.adminSignUp h3.w3layouts-heading span {
	font-weight: 700;
}

.adminSignUp h3.white-title {
	color: #fff;
	background: 4px 2px;
	background-size: 34px;
}

.adminSignUp .contact-sectn {
	background: rgb(2, 0, 36);
	background-position: center;
	background-size: cover !important;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
}

.adminSignUp .w3-agile_mail_grid_right input[type="text"],
.adminSignUp .w3-agile_mail_grid_right input[type="email"],
.adminSignUp .w3-agile_mail_grid_right input[type="password"],
.adminSignUp .w3-agile_mail_grid_right textarea {
	outline: none;
	padding: 10px;
	font-size: 14px;
	color: #fff;
	background: rgba(255, 255, 255, 0.08);
	width: 100%;
	border-bottom: 2px solid #fff;
	letter-spacing: 1px;
	border: none;
	border-bottom: 2px solid #fff;
	box-sizing: border-box;
	border-radius: 5px;
}

.adminSignUp .w3-agile_mail_grid_right textarea {
	min-height: 200px;
	margin: 1em 0 2em;
	resize: none;
}
.adminSignUp .w3-agile_mail_grid_right ::-webkit-input-placeholder {
	color: white;
}

.adminSignUp .w3-agile_mail_grid_right input[type="submit"],
.adminSignUp .w3-agile_mail_grid_right input[type="reset"] {
	outline: none;
	padding: 13px 0;
	color: #fff;
	background-color: #ee4540;
	width: 49%;
	border: none;
	letter-spacing: 2px;
	text-transform: uppercase;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	transition: 0.5s all;
	border-radius: 15px;
}

.adminSignUp .w3-agile_mail_grid_right input[type="reset"] {
	float: right;
	background: #fff;
	color: #000;
}

.adminSignUp .w3-agile_mail_grid_right input[type="submit"]:hover {
	background: #991a1a;
	color: #fff;
}

.adminSignUp .w3-agile_mail_grid_right input[type="reset"]:hover {
	background: #bd1414;
	color: #fff;
}

.adminSignUp .w3-agile_mail_grid_right input[type="text"]:nth-child(2),
.adminSignUp .w3-agile_mail_grid_right input[type="email"],
.adminSignUp .w3-agile_mail_grid_right input[type="password"] {
	margin: 1em 0 0;
}

.adminSignUp .justify-center {
	display: flex;
	justify-content: center;
}

.adminSignUp .form-checkbox {
	display: flex;
}

.adminSignUp .select-form {
	outline: none !important;
	padding: 10px !important;
	font-size: 14px !important;
	color: #fff !important;
	background: rgba(255, 255, 255, 0.08) !important;
	width: 100% !important;
	height: 18% !important;
	border-bottom: 2px solid #fff !important;
	letter-spacing: 1px !important;
	border: none !important;
	border-bottom: 2px solid #fff !important;
	box-sizing: border-box !important;
}

.adminSignUp .fb-btn {
	width: 25%;
	padding: 12px;
	border: 1px solid #3b5998;
	border-radius: 4px;
	opacity: 0.85;
	display: inline-block;
	font-size: 17px;
	line-height: 20px;
	text-decoration: none; /* remove underline from anchors */
	background-color: #3b5998;
	color: white;
	margin: 10px;
}

.adminSignUp .fb-btn:hover {
	opacity: 1;
	color: #fff;
	text-decoration: none;
}

.adminSignUp .google-btn {
	width: 25%;
	padding: 12px;
	border: 1px solid rgb(255, 30, 30);
	border-radius: 4px;
	margin: 5px 0;
	opacity: 0.85;
	display: inline-block;
	font-size: 17px;
	line-height: 20px;
	text-decoration: none; /* remove underline from anchors */
	background-color: rgb(255, 30, 30);
	color: white;
}

.adminSignUp .google-btn:hover {
	opacity: 1;
	color: #fff;
	text-decoration: none;
}

.adminSignUp .a-href:hover {
	opacity: 1;
	color: rgb(17, 21, 245);
	text-decoration: none;
}
