.cardTuitor {
  border: rgb(197, 197, 197) solid 2px;
  margin-bottom: 2rem;
  position: relative;
  overflow: hidden;
  display: block;
  border-collapse: collapse;
  /* transition: width 1s, height 1s, transform 0.5s; */
}

.cardTuitor img {
  width: 100%;
}

.cardCaption {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 0;
  bottom: 0%;
  width: 100%;
  height: 88px;
  text-align: center;
  transition: all 0.5s;
}
.cardCaption .cardInfo {
  position: absolute;
  left: 0;
  bottom: 0%;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
}

.cardTuitor:hover .cardCaption:hover {
  transition: all 0.2s;
  position: absolute;
  width: 100%;
  height: 100%;
  border: #ee4540 2px solid;
  transform: rotate(-90deg);
}

.cardCaption:hover .cardInfo {
  transform: rotate(90deg);
}
.cardCaption .cardInfo h6 {
  margin: 0;
  color: #ee4540;
  font-size: 23px;
  text-transform: capitalize;
  line-height: 1.8em;
  font-weight: 600;
  letter-spacing: 1px;
}
.cardCaption .cardInfo {
  color: #ffffff;
  font-size: 1em;
  margin: 0;
}
.cardCaption .cardInfo button {
  color: #ffffff;
  font-size: 1em;
  margin: 0;
}
