.cardTuitor {
	border: black solid 2px;
	margin-bottom: 2rem;
	position: relative;
	overflow: hidden;
}
.cardTuitor img {
	width: 100%;
}
.cardTuitor .cardCaption {
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	left: 0;
	bottom: 0%;
	width: 100%;
	height: 100px;
	text-align: center;
	transition: all 0.5s ease-in-out;
}
.cardTuitor .cardCaption .cardInfo {
	position: absolute;
	left: 0;
	bottom: 0%;
	width: 100%;
	height: 100%;
	transition: all 0.5s ease-in-out;
}

.cardTuitor .cardCaption:hover {
	height: 100%;
	border: #ee4540 2px solid;
}

.cardTuitor .cardCaption:hover .cardInfo {
	transform: translateY(30%);
}
.cardTuitor .cardCaption .cardInfo h4 {
	margin: 0;
	color: #ee4540;
	font-size: 1.5em;
	text-transform: capitalize;
	line-height: 1.8em;
	font-weight: 600;
	letter-spacing: 1px;
}
.cardTuitor .cardCaption .cardInfo div {
	color: #ffffff;
	font-size: 1em;
	margin: 0;
}
.cardTuitor .cardCaption .cardInfo button {
	color: #ffffff;
	font-size: 1em;
	margin: 0;
}
