.title {
  text-align: center;
}

.title span {
  color: #ee4540;
}

.title:after {
  content: "";
  position: absolute;
  background: linear-gradient(
    to right,
    #ee4540 0%,
    #ee4540 55%,
    #ee4540 55%,
    black 50%,
    black 100%
  );
  bottom: -8px;
  left: 36%;
  width: 300px;
  height: 4px;
}

.sm-title {
  margin-top: 3%;
	position: relative;
	font-size: 25px;
}
.sm-title:after {
	content: '';
	position: absolute;
	background: #EE4540;
	bottom: -5px;
	left: 27%;
	width: 100px;
	height: 4px;
}

.mt-5em {
  margin-top: 5em;
}

.sidebar {
  height: 100%;
  width: 200px;
  background-color: #fff;
  /* border-right: 1px solid black; */
  /* position: fixed !important; */
}

.inner-sidebar {
  /* position: relative; */
  top: 0;
  margin-left: 5%;
  /* pa-bottom: 50%; */
  padding-bottom: 0;
  height: 100%;
  width: 240px;
  overflow: auto;
  border: 1px solid rgb(221, 221, 221);
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.inner-inner {
  height: 100%;
  width: 100%;
}

.column-flex {
  display: flex;
  flex-direction: column !important;
}

.img-star{
  width: 10%;
  height: 10%;
  padding-bottom: 10px;
}

.select-form-city{
  outline: none !important;
	padding: 10px !important;
	font-size: 14px !important;
	color: rgb(0, 0, 0) !important;
	background: rgba(255, 255, 255, 0.08) !important;
	width: 90% !important;
	height: 18% !important;
	border-bottom: 2px solid #ee4540 !important;
	letter-spacing: 1px !important;
	border: 1px solid #d1d1d1 !important;
	box-sizing: border-box !important;
}