.bg-dark {
	background-color: rgba(0, 0, 0, 0.7) !important;
}
.nav-link.active {
	color: #ee4540 !important;
	transform: scale(1.05);
	transform: translateX(0.2rem);
}
.nav-link {
	position: relative;
	transition: all ease-in-out 0.3s;
	margin: 0 1rem 0 1rem;
	text-transform: uppercase;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif !important;
}
.nav-link:focus,
.nav-link:hover {
	color: #ee4540 !important;
}
.signIn {
	border: #ee4540 1px solid !important;
	border-radius: 8px;
	color: white !important;
	text-align: center;
	margin: 0 0 0 0.6rem;
}
.signIn.active {
	color: white !important;
	background: #ee4540;
}
.signIn:hover {
	color: white !important;
}

.signUp {
	border: #46b5d1 1px solid !important;
	border-radius: 8px;
	color: white !important;
	text-align: center;
	margin: 0 0 0 0.6rem;
}
.signUp.active {
	color: white !important;
	background: #46b5d1;
}
.signUp:hover {
	color: white !important;
}
