.after-login .btn-primary {
	background-color: transparent;
	border: none;
}
.after-login .btn-primary:hover,
.after-login .btn-primary:focus {
	background-color: transparent;
	box-shadow: none;
}
.after-login .show > .btn-primary.dropdown-toggle {
	background-color: transparent;
	border: none;
	box-shadow: none;
}
.after-login .dropdown-menu.show {
	font-size: 1.3rem;
	width: 100px;
}
