.adminSignIn {
  padding: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0 !important;
  box-sizing: border-box;
  background-image: url("../../images/background-2.jpg");
  background-size: cover !important;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
}

.adminSignIn .radio label,
.adminSignIn .checkbox label {
  min-height: 20px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
  font-size: 15px;
  color: #fff;
}

.adminSignIn .w3-agile_mail_grids h3,
.adminSignIn .w3-agile_mail_grids h2 {
  font-size: 1.7em;
  color: #ffffff;
  margin-bottom: 0.8em;
  letter-spacing: 1px;
  font-weight: 400;
  text-shadow: 1px 1px 2px #000000;
}

.adminSignIn .w3-agile_mail_grids h3,
.adminSignIn .w3-agile_mail_grids h2 {
  font-size: 1.4em;
  letter-spacing: 1.5px;
}

.adminSignIn .w3-agile_mail_grids h3,
.adminSignIn .w3-agile_mail_grids h2 {
  font-size: 1.3em;
}

.adminSignIn .w3-agile_mail_grids h3,
.adminSignIn .w3-agile_mail_grids h2 {
  line-height: 28px;
}

.adminSignIn .w3-agile_mail_grids h3,
.adminSignIn .w3-agile_mail_grids h2 {
  line-height: 28px;
}

.adminSignIn h3.w3layouts-heading {
  font-size: 3em;
  font-weight: lighter;
  letter-spacing: 1px;
  text-transform: capitalize;
  padding-top: 2rem;
  background: 4px 2px;
  background-size: 34px;
  text-align: center;
}
.adminSignIn h3.w3layouts-heading span {
  font-weight: 700;
}

.adminSignIn h3.white-title {
  color: #fff;
  background: 4px 2px;
  background-size: 34px;
}

.adminSignIn .contact-sectn {
  background: rgb(2, 0, 36);
  background-position: center;
  background-size: cover !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
}

.adminSignIn .w3-agile_mail_grid_right input[type="text"],
.adminSignIn .w3-agile_mail_grid_right input[type="email"],
.adminSignIn .w3-agile_mail_grid_right input[type="password"],
.adminSignIn .w3-agile_mail_grid_right textarea {
  outline: none;
  padding: 10px;
  font-size: 14px;
  color: #fff !important;
  background: rgba(255, 255, 255, 0.1);
  width: 70%;
  border-bottom: 2px solid #fff;
  letter-spacing: 1px;
  border: none;
  border-bottom: 2px solid rgb(255, 255, 255);
  box-sizing: border-box;
  border-radius: 5px;
  margin-left: 15% !important;
}

.adminSignIn .w3-agile_mail_grid_right input[type="text"]:focus,
.adminSignIn .w3-agile_mail_grid_right input[type="email"]:focus,
.adminSignIn .w3-agile_mail_grid_right input[type="password"]:focus,
.adminSignIn .w3-agile_mail_grid_right textarea:focus {
  outline: none;
  padding: 10px;
  font-size: 14px;
  color: #fff !important;
  /* background: rgba(255, 255, 255, 0.08); */
  width: 70%;
  border-bottom: 2px solid #fff;
  letter-spacing: 1px;
  border: none;
  border-bottom: 2px solid rgb(255, 102, 0);
  box-sizing: border-box;
  border-radius: 5px;
  margin-left: 15% !important;
}

.adminSignIn .w3-agile_mail_grid_right textarea {
  min-height: 200px;
  margin: 1em 0 2em;
  resize: none;
}
.adminSignIn .w3-agile_mail_grid_right ::-webkit-input-placeholder {
  color: white;
}

.adminSignIn .w3-agile_mail_grid_right input[type="submit"],
.adminSignIn .w3-agile_mail_grid_right input[type="reset"] {
  outline: none;
  padding: 13px 0;
  color: #fff;
  background-color: #ff8a1d;
  width: 49%;
  border: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  transition: 0.5s all;
  border-radius: 15px;
}

.adminSignIn .w3-agile_mail_grid_right input[type="reset"] {
  float: right;
  background: #fff;
  color: #000;
}

.adminSignIn .w3-agile_mail_grid_right input[type="submit"]:hover {
  background: #f1750e;
  color: #fff;
}

.adminSignIn .w3-agile_mail_grid_right input[type="reset"]:hover {
  background: #bd1414;
  color: #fff;
}

.adminSignIn .w3-agile_mail_grid_right input[type="text"]:nth-child(2),
.adminSignIn .w3-agile_mail_grid_right input[type="email"],
.adminSignIn .w3-agile_mail_grid_right input[type="password"] {
  margin: 1em 0 0;
}

.adminSignIn .justify-center {
  display: flex;
  justify-content: center;
}

.adminSignIn .form-checkbox {
  display: flex;
}

.adminSignIn .select-form {
  outline: none !important;
  padding: 10px !important;
  font-size: 14px !important;
  color: #fff !important;
  background: rgba(255, 255, 255, 0.08) !important;
  width: 100% !important;
  height: 18% !important;
  border-bottom: 2px solid #fff !important;
  letter-spacing: 1px !important;
  border: none !important;
  border-bottom: 2px solid #fff !important;
  box-sizing: border-box !important;
}

.adminSignIn .fb-btn {
  width: 25%;
  padding: 12px;
  border: 1px solid #3b5998;
  border-radius: 4px;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
  background-color: #3b5998;
  color: white;
  margin: 10px;
}

.adminSignIn .fb-btn:hover {
  opacity: 1;
  color: #fff;
  text-decoration: none;
}

.adminSignIn .google-btn {
  width: 25%;
  padding: 12px;
  border: 1px solid rgb(255, 30, 30);
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
  background-color: rgb(255, 30, 30);
  color: white;
}

.adminSignIn .google-btn:hover {
  opacity: 1;
  color: #fff;
  text-decoration: none;
}

.adminSignIn .a-href:hover {
  opacity: 1;
  color: rgb(17, 21, 245);
  text-decoration: none;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.cover-sigin {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  /* padding-bottom: 2re  m; */
  margin: auto;
  height: 100%;
  width: 50%;
  box-shadow: 0px 2px 8px 5px black;
}

.forget-pass{
  color: rgb(255, 81, 0);
}

a .forget-pass :hover{
  color: #ff932e !important;
}
